{% extends "base.html" %}

{% block content %}
    <h1>Add Flashcard</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.front.label }}<br>
            {{ form.front(cols=50, rows=4) }}<br>
            {% for error in form.front.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.back.label }}<br>
            {{ form.back(cols=50, rows=4) }}<br>
            {% for error in form.back.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
