{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#cardback").hide();
    $("button").click(function(){
        $('#cardback').removeClass('hidden')
        $("#cardback").toggle();
    });
});
</script>
</head>
<body>
  <div class='content-wrapper'>
    <div class='flashcard-wrapper'
    <table>
      <tr valign="top">
        <td>

                 <h3>Score: {{ card.score }}</h3>
                 <hr>
                <div id="front">

                 <h2>{{ card.front }}</h3>
                </div>
                <hr>
                <div id="cardback" class="hidden">

                 <h3>{{ card.back }}</h3>
                </div>
                 <button>Show/Hide Back</button>
                 <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <table>
              <tr>
                <td>

                  <form action="{{ url_for('decrease_score') }}" class='submits-left'>
                    <input type="submit" value="Not Yet" />
                  </form>
                </td>
                <td>
                  <form action="{{ url_for('add_corpus_card') }}" >
                    <input type="submit" value="Add Similar Card from Corpus" />
                  </form>
                </td>
                <td>
                  <form action="{{ url_for('increase_score') }}" class='submits-right'>
                  <input type="submit" value="I got This" />
                </td>
              </tr>
            </table>
            </form>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
